---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/deals/batch/create?hapikey=<HUBSPOT_API_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"properties":{"dealname":"dealname: 3","amount":"321.0","closedate":"2038-01-04T00:00:00.000Z","description":"description:
        3"}},{"properties":{"dealname":"dealname: 4","amount":"4321.0","closedate":"2038-01-05T00:00:00.000Z","description":"description:
        4"}},{"properties":{"dealname":"dealname: 5","amount":"54321.0","closedate":"2038-01-06T00:00:00.000Z","description":"description:
        5"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 4c824f61-6c4a-4e4a-8804-676842ed0a50
      x-hubspot-ratelimit-daily:
      - '500000'
      x-hubspot-ratelimit-daily-remaining:
      - '499959'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '150'
      x-hubspot-ratelimit-remaining:
      - '149'
      x-hubspot-ratelimit-secondly:
      - '15'
      x-hubspot-ratelimit-secondly-remaining:
      - '14'
      x-trace:
      - 2B3855A4540E3AD35BA5BD98D1D267565734338DFF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[{"id":"5530246676","properties":{"amount":"54321.0","amount_in_home_currency":"54321.0","closedate":"2038-01-06T00:00:00Z","createdate":"2021-06-25T00:55:45.726Z","days_to_close":"6038","dealname":"dealname:
        5","description":"description: 5","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_createdate":"2021-06-25T00:55:45.726Z","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"54321.0","hs_is_closed_won":"false","hs_lastmodifieddate":"2021-06-25T00:55:45.726Z","hs_object_id":"5530246676","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0"},"createdAt":"2021-06-25T00:55:45.726Z","updatedAt":"2021-06-25T00:55:45.726Z","archived":false},{"id":"5530246675","properties":{"amount":"321.0","amount_in_home_currency":"321.0","closedate":"2038-01-04T00:00:00Z","createdate":"2021-06-25T00:55:45.726Z","days_to_close":"6036","dealname":"dealname:
        3","description":"description: 3","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_createdate":"2021-06-25T00:55:45.726Z","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"321.0","hs_is_closed_won":"false","hs_lastmodifieddate":"2021-06-25T00:55:45.726Z","hs_object_id":"5530246675","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0"},"createdAt":"2021-06-25T00:55:45.726Z","updatedAt":"2021-06-25T00:55:45.726Z","archived":false},{"id":"5530246674","properties":{"amount":"4321.0","amount_in_home_currency":"4321.0","closedate":"2038-01-05T00:00:00Z","createdate":"2021-06-25T00:55:45.726Z","days_to_close":"6037","dealname":"dealname:
        4","description":"description: 4","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_createdate":"2021-06-25T00:55:45.726Z","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"4321.0","hs_is_closed_won":"false","hs_lastmodifieddate":"2021-06-25T00:55:45.726Z","hs_object_id":"5530246674","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0"},"createdAt":"2021-06-25T00:55:45.726Z","updatedAt":"2021-06-25T00:55:45.726Z","archived":false}],"startedAt":"2021-06-25T00:55:45.705Z","completedAt":"2021-06-25T00:55:45.808Z"}'
  recorded_at: Fri, 25 Jun 2021 00:55:45 GMT
recorded_with: VCR 6.0.0
