---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/deals/batch/create?hapikey=d7a99c31-0c9c-4fef-882c-6ac743d72b74
    body:
      encoding: UTF-8
      string: '{"inputs":[{"properties":{"dealname":"dealname: 3","amount":"321.0","closedate":"2038-01-04T00:00:00.000Z","description":"description:
        3"}},{"properties":{"dealname":"dealname: 4","amount":"4321.0","closedate":"2038-01-05T00:00:00.000Z","description":"description:
        4"}},{"properties":{"dealname":"dealname: 5","amount":"54321.0","closedate":"2038-01-06T00:00:00.000Z","description":"description:
        5"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 4d062125-a43e-47be-b903-5f122796f59f
      x-hubspot-ratelimit-daily:
      - '500000'
      x-hubspot-ratelimit-daily-remaining:
      - '499991'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '150'
      x-hubspot-ratelimit-remaining:
      - '149'
      x-hubspot-ratelimit-secondly:
      - '15'
      x-hubspot-ratelimit-secondly-remaining:
      - '14'
      x-trace:
      - 2BFAB382E2CDFA2E173E68161E8DB6CB14247300A7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[{"id":"5524506223","properties":{"amount":"321.0","amount_in_home_currency":"321.0","closedate":"2038-01-04T00:00:00Z","createdate":"2021-06-24T12:30:41.313Z","days_to_close":"6037","dealname":"dealname:
        3","description":"description: 3","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_createdate":"2021-06-24T12:30:41.313Z","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"321.0","hs_is_closed_won":"false","hs_lastmodifieddate":"2021-06-24T12:30:41.313Z","hs_object_id":"5524506223","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0"},"createdAt":"2021-06-24T12:30:41.313Z","updatedAt":"2021-06-24T12:30:41.313Z","archived":false},{"id":"5524506225","properties":{"amount":"54321.0","amount_in_home_currency":"54321.0","closedate":"2038-01-06T00:00:00Z","createdate":"2021-06-24T12:30:41.313Z","days_to_close":"6039","dealname":"dealname:
        5","description":"description: 5","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_createdate":"2021-06-24T12:30:41.313Z","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"54321.0","hs_is_closed_won":"false","hs_lastmodifieddate":"2021-06-24T12:30:41.313Z","hs_object_id":"5524506225","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0"},"createdAt":"2021-06-24T12:30:41.313Z","updatedAt":"2021-06-24T12:30:41.313Z","archived":false},{"id":"5524506224","properties":{"amount":"4321.0","amount_in_home_currency":"4321.0","closedate":"2038-01-05T00:00:00Z","createdate":"2021-06-24T12:30:41.313Z","days_to_close":"6038","dealname":"dealname:
        4","description":"description: 4","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_createdate":"2021-06-24T12:30:41.313Z","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"4321.0","hs_is_closed_won":"false","hs_lastmodifieddate":"2021-06-24T12:30:41.313Z","hs_object_id":"5524506224","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0"},"createdAt":"2021-06-24T12:30:41.313Z","updatedAt":"2021-06-24T12:30:41.313Z","archived":false}],"startedAt":"2021-06-24T12:30:41.291Z","completedAt":"2021-06-24T12:30:41.450Z"}'
  recorded_at: Thu, 24 Jun 2021 12:30:41 GMT
recorded_with: VCR 6.0.0
