---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/deals/batch/create?hapikey=<HUBSPOT_API_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"properties":{"dealname":"Listing 1","amount":"1.0","closedate":"2038-01-01T00:00:00.000Z","description":"1"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 00cbcdd4-a768-48a4-916d-63f26f163b46
      x-hubspot-ratelimit-daily:
      - '500000'
      x-hubspot-ratelimit-daily-remaining:
      - '499958'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '150'
      x-hubspot-ratelimit-remaining:
      - '148'
      x-hubspot-ratelimit-secondly:
      - '15'
      x-hubspot-ratelimit-secondly-remaining:
      - '14'
      x-trace:
      - 2B620543A72F027826C6D15067F5B30505ABAF0529000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[{"id":"5530372977","properties":{"amount":"1.0","amount_in_home_currency":"1.0","closedate":"2038-01-01T00:00:00Z","createdate":"2021-06-25T00:55:46.290Z","days_to_close":"6033","dealname":"Listing
        1","description":"1","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_createdate":"2021-06-25T00:55:46.290Z","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"1.0","hs_is_closed_won":"false","hs_lastmodifieddate":"2021-06-25T00:55:46.290Z","hs_object_id":"5530372977","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0"},"createdAt":"2021-06-25T00:55:46.290Z","updatedAt":"2021-06-25T00:55:46.290Z","archived":false}],"startedAt":"2021-06-25T00:55:46.273Z","completedAt":"2021-06-25T00:55:46.352Z"}'
  recorded_at: Fri, 25 Jun 2021 00:55:46 GMT
recorded_with: VCR 6.0.0
